*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0;
  overflow-x: hidden; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #3a3a3a;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

#icon {
  color: #3a3a3a;
  margin-left: 5rem;
  display: none; }

.btn--text {
  position: absolute; }
  .btn--text:link, .btn--text:active, .btn--text:visited {
    margin-top: 2.5rem;
    margin-left: 107rem;
    text-decoration: none;
    color: #6200ee;
    font-weight: 600; }
  .btn--text__right-arrow {
    padding-left: 1rem; }

.t-center {
  text-align: center; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }

@media only screen and (max-width: 768px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center; }
  #icon {
    display: inline-block; }
  .wrapper {
    grid-template-columns: repeat(1, 1fr); }
  .btn--text {
    position: relative; } }

.heading-primary {
  font-size: 5.2rem;
  color: #3a3a3a;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem; }

.heading-small {
  font-size: 2.8rem;
  color: #3a3a3a;
  font-weight: 600; }

.heading-small--white {
  color: white; }

.heading-medium {
  font-size: 3.8rem;
  color: #3a3a3a;
  font-weight: 600;
  margin-bottom: 4rem; }

.text-price {
  font-size: 2.8rem;
  color: #3a3a3a;
  font-weight: 500; }

.btn:link, .btn:visited {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 100px;
  font-weight: 600;
  background-color: #6200ee;
  color: white; }

.btn__right-arrow {
  padding-left: 1rem; }

.brand__logo {
  padding: 4rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6), rgba(192, 204, 218, 0.1)); }

.card {
  height: 49rem;
  width: 34rem;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  padding: 2rem 2rem; }
  .card__img {
    border-radius: 5px; }
  .card__retting {
    margin: 3rem 0; }
    .card__retting ul {
      display: flex; }
      .card__retting ul i {
        color: #ffa500;
        font-size: 1.6rem; }
    .card__retting .retting-text {
      color: #5e6366;
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 600; }
    .card__retting > p {
      color: #787885;
      font-size: 1.4rem;
      text-align: left;
      margin-top: 1rem; }

.header__top {
  padding: 5rem 0 0 0;
  display: flex;
  justify-content: space-between; }

.header__text-box > .text-logo {
  font-size: 2.8rem;
  font-weight: 700; }

.header__hero {
  display: flex;
  align-items: center;
  justify-items: end;
  padding: 10rem 0; }

.header__heading p {
  font-weight: 600;
  text-align: left;
  padding-right: 5rem; }

.header__featured img {
  background-position: right; }

.header__logo {
  display: flex; }

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-wrap: wrap; }
    .header__top {
      justify-content: center; }
    .header__hero {
      justify-content: center;
      flex-wrap: wrap-reverse; } }

.navbar {
  width: 50%; }
  .navbar__items {
    display: flex;
    justify-content: space-around; }
  .navbar__items li a {
    display: block;
    text-decoration: none;
    color: #3a3a3a;
    font-weight: 700; }

@media only screen and (max-width: 768px) {
  .navbar {
    display: none; } }

.popular-collection {
  position: relative;
  padding-top: 5rem; }
  .popular-collection__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 5rem; }

@media only screen and (max-width: 768px) {
  .popular-collection__cards {
    grid-template-columns: repeat(1, 1fr); } }

.featurd-product {
  padding-top: 15rem;
  padding-bottom: 15rem;
  display: flex; }
  .featurd-product__content {
    line-height: 2; }
    .featurd-product__content > p {
      color: #5e6366; }

.footer {
  background-color: #0a0826;
  height: 22rem;
  padding: 5rem;
  text-align: center; }
  .footer > p {
    color: white;
    font-weight: 400;
    font-size: 1.4rem; }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__link i {
      display: inline-block;
      color: white;
      font-size: 2rem;
      list-style: none;
      padding-right: 2rem;
      margin-top: 2rem;
      cursor: pointer; }

/* 
COLORS:
Light green: #7ed56f;
Medium green : #55c57a;
Dark green : #28b485; 
*/
